body {
    font-family: Helvetica, Ariel, sans-serif;
}

section {
    padding: 1em;
    min-height: 100vh; 
}

.tagspec {
    font-family: Courier, fixed;
    color: #660000;
}

section.result .tagspec {
    font-size: 244%;
}

section.question, section.result {
    display: block;
}

li {
    margin: 1ex 0;
}

li a {
    text-decoration: none;
}

div.nav {
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

div.nav a {
    text-decoration: none;
    font-size: 83.333333%;
}
