body {
    font-family: Helvetica, Ariel, sans-serif;
}

section {
    padding: 1em;
    min-height: 500ex; /* fallback for ancient browsers */
    min-height: 100vh;
    max-width: 640px;
}

.tagspec {
    font-family: Courier, fixed;
    color: #660000;
}

section.question, section.result {
    display: block;
}

li {
    margin: 1ex 0;
}

li a {
    text-decoration: none;
}

div.nav {
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

div.nav a {
    text-decoration: none;
    font-size: 83.333333%;
}

.tagspec-container {
    display: block;
    display: flex;
    flex-wrap: wrap;
    margin: 3ex 0;
    font-size: 172.8%;
}

.final-tagspec {
    display: inline-block;
    margin-right: 1em;
}

.copy-button {
    display: inline-block;
}
