body {
    font-family: Helvetica, Ariel, sans-serif;
    margin: 1ex 1em;
}

section {
    padding: 1em;
}

section.result .tagspec {
    font-family: fixed;
    font-size: 244%;
}

section.question, section.result {
    display: block;
    min-height: 100vh;
}

li {
    margin: 1ex 0;
}
